<!DOCTYPE html>
<html>
<head>
<title>Marlon Payen - Dividends</title>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="static/dividends/style.css">
<title>Home</title>
</head>
<body>
	<!-- Page Container -->
	<div class="w3-content w3-margin-top" style="max-width:1700;">
	
	  <!-- The Grid -->
	  <div class="grid">
	  
	    <!-- Left Column -->
	    <div class="left-column">
	    	<div class="topnav">
				<a class="active" href="#index">Home</a>
				<a href="#calendar">Calendar</a>
				<a href="#pieChart">Pie Chart</a>
				<a href="#about">About</a>
			</div>
	    <!-- End Left Column -->
	    </div>
	
	    <!-- Right Column -->
	    <div class="right-column">
			<h1>My First Heading</h1>
			<p>My first paragraph.</p>
		<!-- End Right Column -->
	    </div>
	    
	  <!-- End Grid -->
	  </div>
	  
	  <!-- End Page Container -->
	</div>
</body>
</html>